* {
  box-sizing: border-box;
}

.album-card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px 10px 40px;
}

.album-cover {
  position: relative;
}

.album-card img {
 width: 100%;
}

h2 {
  font-size: 14px;
  color: #fff;
}

h2, h3 {
  margin: 0;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .album-card {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .album-card {
    flex-basis: 25%;
  }
}